@import "tailwindcss";

@theme {
  --font-news: 'Newsreader', serif;
  --color-brand-dark-blue: #031428;
  --animate-cursor: cursor-blink 1.0s step-end infinite;
}

@keyframes cursor-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}