@import "tailwindcss";

@theme {
  --font-news: "Newsreader", serif;
  --color-brand-dark-blue: #031428;
  --animate-cursor: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

::selection {
  background-color: #031428; /* zinc-950 */
  color: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
